
* {
    box-sizing: border-box;
}

body {
  max-width: 100%;
}

main {
    padding: 10px;
}

.intro {
    border-bottom: 4px solid #2d3944;
    box-shadow: 0px 3px 0px 0px white, 0px 4px 0px 0px #2d3944;
    text-align: center;
    padding-bottom: 40px;
}

h1 {
  background: #2d3944;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 0;
  font-size: 20px;
}

.container {
  width: 100%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: #2d3944;
  font-size: 20px;
  margin: 20px 0;
}

legend {
  font-size: 20px;
  padding-bottom: 20px;
  color: #2d3944;
}


p,
label {
    color: #6b7884;
    font-size: 1.1em;
    padding-bottom: 5px;
}

.flex-pair {
  display: flex;
  flex-direction: column;
}

.newsletter {
  display: flex;
  flex-direction: column;
}

input,
textarea,
select {
  background: #eff0f1;
  width: auto;
  padding: 20px;
  border-radius: 4px;
  border: none;
  margin: 10px 0 10px 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    border: 1px solid #eff0f1;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
    border: 1px solid #2d3944;
    transition: 2s;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

::placeholder {
    text-align: right;
    padding-right: 3%;
    color: #c3c6ca
}


textarea {
    height: 90px;
}

.zip input {
    width: 50%;
}

.zip {
    border-bottom: 2px solid #2d3944;
    padding-bottom: 20px;
    color: #c3c6ca;
}

.checkbox {
 margin: 20px 0;
}

button {
    width: 100%;
    height: 50px;
    background-color: #4EBBB5;
    color: #ffff;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    margin: 10px 0 20px 0;
}

button:hover {
    filter: brightness(100%);
}


select {
  background: #eff0f1;
  width:100%;
  padding: 10px;
  height: 70px;
  border-radius: 4px;
  border: none;
  margin-top: 10px;
}

fieldset {
border: none;
margin-top: 30px;
}


footer {
    padding: 20px 0;
    text-align: center;
    color: grey;
    font-style: italic;
}



@media (min-width: 768px) {



    .flex-pair {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 30px;
      }

      .flex-pair input,
      .flex-pair select {
        flex-basis: 70%;
        flex-grow: 1;
      }

      .flex-pair label {
        flex-basis: 25%;
        font-size: 20px;
      }

      .zip input {
     max-width: 25%;


 }



}
